<main class="container">
  <div class="row">
    <div class="col-md-8">
      <article class="blog-post">
        <p id="notice"><%= notice %></p>
        <% if @post.image.attached? %>
        <%= image_tag @post.image %>
        <% end %>
        <br>
        <br>
        <h2 class="blog-post-title"><%= @post.title %></h2>
        <p class="blog-post-meta"><%= @post.created_at.to_s(:datetime_jp) %></p>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
        <p><%= @post.content %></p>
      </article><!-- /.blog-post -->





      <nav class="blog-pagination" aria-label="Pagination">
        <% if @post.previous.present? %>
<%= link_to "PREV", post_path(@post.previous), class: "btn"%>
<% end %>
<% if @post.next.present? %>
<%= link_to "NEXT", post_path(@post.next), class: "btn" %>
<% end %>
        <!-- <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a> -->
      </nav>
<!-- ///Comment/ -->




<!-- ///// -->
<section class="mb-5">

    <div class="card bg-light">

        <div class="card-body">
          <h2>コメント一覧</h2>
          <% @comments.each do |c| %>
          <div class="d-flex mb-4">
              <!-- Parent comment-->
              <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
              <div class="ms-3">
                  <div class="fw-bold"><%= c.user.id %>:<%= c.created_at.to_s(:datetime_jp) %></div>
                    <%= c.content %>

              </div>
          </div>

          <% end %>
            <!-- Comment form-->
            <%= form_for [@post, @comment] do |f| %>
              <%= f.text_area :content, class: "form-control", placeholder: "コメントを入力してください" %>
               <%= f.hidden_field :post_id, value: @post.id %>
              <br>
              <%= f.submit "Comment", class: 'btn btn-primary' %>
            <% end %>
            <br>
            <!-- <form class="mb-4"> -->
              <!-- <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!">
              </textarea> -->
            <!-- </form> -->
            <!-- Comment with nested comments-->



            <!-- Single comment-->
            <!-- <div class="d-flex">
                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                    <div class="fw-bold">Commenter Name</div>
                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- ////// -->



<!-- ////// -->

    </div>

    <div class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h1>New arrival</h1>
        <!-- ///// -->
        <!-- <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"> -->


        <!-- </div> -->
        <!-- ///// -->
        <% @posts.each do |post| %>
        <div class="col-12 p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0"><%= post.title %></h3>
          <div class="mb-1 text-muted"><%= post.created_at.to_s(:datetime_jp) %></div>
          <p class="card-text mb-auto"><%= strip_tags(post.content.to_s).gsub(/[\n]/,"").strip.truncate(15) %></p>
          <!-- <a href="#" class="stretched-link">Continue reading</a> -->
          <%= link_to "Read More", post_path(post) %>
        </div>

        <% end %>

      </div>




    </div>

  </div>

</main>
<br>

<style>
  /* .submitoption {
    opacity: 0;
  } */
</style>
